
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
      You have successfully placed an order with <a href="<%= @haastig %>">Haastig!</a>
    </p>
    <p>
      Order No: [<%= @orderno %>]
    </p>
    <p>
      To track your parcel, just follow this link: <a href="<%= @url %>">Tracking Link</a>. 
    </p>
     <p>
      We've notified and sent a tracking link to <%= @to_email %> as well. 
    </p>
    <p>Have a great day!</p>
  </body>
</html>