<div class = "container">
<h2>Get Quote</h2>
</div>

<%= render 'form', quote: @quote %>


<div class = "container">
<%= link_to 'Back', order_path(@order), :class => "btn" %>
</div>

<div><br></div> 


