<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
        A traditional courier order was placed with <a href="<%= @haastig %>">Haastig.com</a> by <%= @from_email %> to <%= @to_email %>.
    </p>
    <p>
      Order No: [<%= @orderno %>]
    </p>
    <p>
      You will be receiving an email directly from our courier partner to track your parcel. 
    </p>
    <p>Have a great day!</p>
  </body>
</html>