<!DOCTYPE html>
<html lang="en">

<br>
<br>
<br>
<br>

<!-- Header begins here -->
	<div id="legalspace" class="legalspace">
 		<div class="container">
		<div class="center">	
			<div class="row">
				<div class="col-lg-12 col-md-12">
						
				</div>	
			</div>
		</div>
		</div>
	</div>

	<!-- Legal section starts here -->

	<div id="legal" class="legal">

		 <div class="container">

				<h2>LEGAL</h2>
				
			<div class="row">
				<div class="col-lg-12 col-md-12">
				<hr style="border-width: 1px;">
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 col-md-12">
			
				<div>

					<h4 style="text-align: left;">Terms & Conditions</h4>

                    <p></p>

					<p style="text-align: justify;">Haastig Logistics ("Haastig") will only be liable to the maximum extent permitted in law and save where Haastig or its Delivery Partner is found to have been reckless or grossly negligent, all Cargo is carried at the risk of the owner of the Cargo, the Client or the recipient of the Cargo. </p>

					<p style="text-align: justify;">Haastig and its Delivery Partners accept no liability for, and the Client indemnifies and holds Haastig and its Delivery Partners harmless in respect of, any and all direct or indirect cost, expense, loss or damage (including any consequential loss or damage or loss of profits) of whatsoever nature arising, directly or indirectly, out of Haastig or its Delivery Partner’s carriage of the Cargo. The effect of this clause is that the owner of the Cargo, the Client and/or the receiver of the Cargo may have limited recourse against Haastig or its Delivery Partners in the circumstances referred to herein and that the Client could become liable to compensate Haastig or its Delivery Partner if it becomes liable in the circumstances referred to herein.</p>

					<p style="text-align: justify;"><span style="font-weight: bold;">IMPORTANT:</span> Haastig and its Delivery Partners will not procure any insurance cover for or on behalf of the Client. The Client is solely responsible for procuring his/her/its own insurance cover in relation to the Cargo transported.</p>

					<p style="text-align: justify;">Haastig and its Delivery Partners will under no circumstances be responsible for any consequential loss or damage of any nature whatsoever.</p>
				</div>
				</div>
			</div>

            <hr style="border-width: 1px;">

			<div class="row">
				<div class="col-lg-12 col-md-12">
			
				<div>

					<h4 style="text-align: left;">Privacy Policy of <span style="font-style: italic;">Haastig Logistics</span> (the Company)</h4>

                    <p></p>

					<p style="text-align: justify;"><span style="font-weight: bold;">Data Collected:</span> The Company collects information provided to us by interaction with potential Clients, Clients, potential Partners, Partners and / or through our digital communication channels  e.g. information is collected when an account is created, emailer lists are populated,  sales leads engaged, an order is placed, or invoice generated.  The types of information collected might include client trading names, addresses and contact details, and billing information for invoicing purposes.</p>

					<p style="text-align: justify;"><span style="font-weight: bold;">Use of the Data:</span> The Company only uses personal client information for account management, sales lead opportunities, sales negotiations and sales management.</p>

					<p style="text-align: justify;"><span style="font-weight: bold;">Standards applied:</span>  The Company employs industry-standard best practices to protect against unauthorised access of/to stored personal information. The Company does not share personal information provided to us without consent, unless:</p>
					<ul>
					<li><span style="font-weight: bold;">-</span> Doing so is appropriate to carry out in The Company’s own interest;</li>
					<li><span style="font-weight: bold;">-</span> The Company believes it’s needed to enforce legal agreements or that it is legally required;</li>
					<li><span style="font-weight: bold;">-</span> The Company believes it’s needed to detect, prevent or address fraud, security or technical issues.</li>
					</ul>

					<p style="text-align: justify;">
					<span style="font-weight: bold;">Sharing of Data:</span>  The Company does not share personal information with third parties.  Aggregated, anonymised data is periodically transmitted to external services to help to improve the service to Clients.
					</p>
					
					<p style="text-align: justify;"><span style="font-weight: bold;">Opt-Out, Communication Preferences:</span> If you are included on any email or other communication and wish to no longer receive marketing or other related communications, please contact The Company on: <span style="font-style: italic;"><a href="mailto:info@haastig.com">info@haastig.com</a></span>.</p> 

					<p style="text-align: justify;"><span style="font-weight: bold;">Security:</span> The Company takes reasonable steps to protect personally identifiable information from loss, misuse, and unauthorised access, disclosure, alteration, or destruction.</p>

					<p style="text-align: justify;"><span style="font-weight: bold;">Changes to the Privacy Policy:</span> The Company may amend this Privacy policy from time to time.  If major changes are made in the way information is collected, the Company will notify affected parties by means of email.</p>
							
				</div>
				</div>
			</div>

            <hr style="border-width: 1px;">
			<div class="row">
				<div class="col-lg-12 col-md-12">
				
				<h4 style="text-align: left;">Email disclaimer</h4>

                <p></p>
				
				<p style="text-align: justify;">The Company's e-mail messages, including any attachments, is intended for the addressee, and is for the sole use of the person to whom it has been sent, and may contain information that is confidential or legally protected. If you are not the intended recipient or have received a message in error, you are not authorised to view, copy, distribute, rely or otherwise use said message or its attachments. Please notify the sender immediately by return e-mail and permanently delete the message and any attachments. <span style="font-style: italic">Haastig Logistics</span> makes no warranty that e-mails are error or virus free.</p>
							
				</div>
			</div>


			<%# <div class="row">
				<div class="col-lg-12 col-md-12">
				
				<h4 style="text-align: left;">Incident Response Plan</h4>
				
				<p style="text-align: justify;">You can download our incident response plan <a style="font-style: italic" href="/documents/IREPlan.pdf" download>here<a>.</p>
				
							
				</div>
			</div> %>

			<hr>
            <br>
			<div class="row">
				
					
						

                             <div class="btn-grp mx-auto ">
                                     <%= link_to 'Home', home_path, :class => "btn", data: { turbolinks: false } %>
                            </div>
			
			</div>
            <br>
            <br>
			


		</div>
	</div>

	<!-- Legal section ends here -->

	<!-- Footer section begins here -->

    <div id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4" >
          <h4>Contact us</h4>
          <p><i class="fas fa-home"></i> Office 301, 3rd Floor, Eikestad Mall, Stellenbosch, 7599</p>
          <p><i class="fas fa-envelope"></i> info@haastig.com</p>
          <%# <p><i class="fas fa-phone"></i> +27 (0)21 808 1864</p> %>
        </div>

        <div class="col-lg-4 col-md-4" >
          <h4>About</h4>
          <p>A simple and flexible delivery service - offering clients the ability to manage their delivery needs through an online dashboard, live tracking, and secure online payment functionality. </p>
        </div>

        <div class="col-lg-4 col-md-4" >
          <h4>Stay in touch</h4>
		  <%# <a href="#"><i class="social fab fa-twitter"></i></a> %>
          <%# <a href="#"><i class="social fab fa-instagram"></i></a> %>
		<div style="width: 20%; float:left">
  			<i class="social fab fa-linkedin-in"></i>
		</div>

		<div id="RR" style="width: 80%; float:right">
   			<p><a href="<%= linkedin_path %>" target="_blank" style="color:#fff; font-weight:bold">LinkedIn</a></p>
		</div>
        
          
<%# 
          <input type="email" name="email" placeholder="Subscribe for updates">
          <button class="btn btn-success">Subscribe</button> %>
        </div>

      </div>

        <div class="row1">
          <div class="col-lg-12 col-md-12">
          <p>All Rights Reserved © Haastig Logistics (Pty) Ltd, 2020. | <span><a href="<%= legal_path %>" style="color:#999; font-weight:bold">Legal</a></span> </p>
          </div>
      </div>

    </div>
  </div>
