@import "bootstrap/scss/bootstrap";

@import "/users";
@import "/orders";
@import "/quotes";
@import "/orders";
@import "/cart";
@import "/successful";
@import "/cancelled";
@import "/flatpickr";

// html {zoom: 80%;}

#na_row
{
  padding-top: 25px;
  padding-bottom: 0px;
  justify-content: center;
  text-align: center;

}

#notice{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#alert{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}




h1 {

    color: #05386B;
     
    }

body{
	overflow-x: hidden; 
	font-family: 'Open Sans', sans-serif; /*font-family: 'Open Sans', sans-serif;*/
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

}

li{
	list-style: none;
	display: inline-block;
}

a{
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

a:hover,
a:active{
	text-decoration: none;

}





p{
	font-size: 15px;
	line-height: 21px;
}

.btn{
	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;
	color: #fff !important;
	background-color: #05386B !important;
    border: 1px  solid #fff !important;
    

}



.btn:hover{
	background-color: #ededed !important;
	color: #3c3c3c !important;
	border: 1px  solid #fff !important;
}

/*Default styles end here*/

/*navigation styling*/

.navbar-expand-lg {


	background-color: #5CDB95 !important; 
	
	font-weight: 300;
	margin-bottom: -2px;
	border-bottom: 2px solid rgba(255, 0, 0, 0);
	
   


}

.navbar .navbar-brand {  /*HAASTIG TOP LEFT TITLE*/
    color: #05386B;
    // font-style: italic;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}	

.navbar .navbar-brand img{
	display: inline-block;
	margin-bottom: 3px;
	height:30px;
}

.navbar .navbar-toggler {

    background-color: transparent;
    border: 1px solid #05386B;
 
}

.navbar .navbar-toggler:focus {

    outline: none !important;
	box-shadow: none;
 
}

.navbar .navbar-toggler:active {

    outline: none !important;
	box-shadow: none;
 
}

// _________________________

$barcolor: #05386B;
$barheight:  3px;

/*remove bootstrap default svg background */
.navbar-light .navbar-toggler {
  background: none;
}



/* hamburger classes and animation */
.navbar-toggler {
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1rem;
  border-radius: .25rem;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: $barcolor;
    border-radius: $barheight;
    opacity: 1;
    left: 25%;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 34.5%;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 50%;
    }
    &:nth-child(4) {
      top: 65.5%;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
}

// -------------------------------

.svg-inline--fa.fa-w-14 {
  

    height: 30px;
	color:  #05386B;
}

.navbar-expand-lg .navbar-nav .nav-link {
 
    color:  black;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
 
    color:  #05386B;
    font-weight: bold;
 
}

/*.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #f5f5f5;
    background-color: #ffffff; 
}*/



/* NAVBAR SCROLL  */

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}



.navbar.scrolled {
	background: rgb(255, 255, 255); /* IE */
    background: rgb(255, 255, 255); /* NON-IE */
    
    border-bottom: 0.5px solid #333;
    height: 55px;
  	/*line-height: 60px;*/
}



.nav.navbar-nav.navbar-right.scrolled li a {
    color: #555;
}

.navbar.scrolled .navbar-brand  {
  font-size: 25px;           /*HAASTIG TOP LEFT TITLE*/
}

.navbar.scrolled .navbar-brand img{
	display: inline-block;
	margin-bottom: 3px;
	height:25px;
}


/* _______________________________________________________________ */

.navbar .navbar-brand:hover {
    color: #05386B;
    // font-style: italic;
    font-weight: bold;
    border-bottom: solid 0px #05386B;
   
}	

.nav.navbar-nav.navbar-right li a {
    color: #333;
    font-weight: bold;
}



.nav.navbar-nav.navbar-right li a:hover {
	color: #05386B;
}

.nav.navbar-nav.navbar-right li a:active {
	color: #05386B;
}





/* _______________________________________________________________ */

@media(max-width:768px){
	.navbar a:hover{
		border-bottom: none;
	}

    .navbar .navbar-collapse {
        border-color: transparent;
        background-color: #ffffff00;
     } 
 
}



/*MAIN CSS begins here*/


.btn-grp{
	text-align: center;
	justify-content: center;
	align-self: center;
}


.flex-1{
	margin-right: 5px;
    border-radius: 5;
    font-weight: bold;
	border: 0;
    background-color: #05386B !important;
    border-color: #05386B !important;
}

.flex-2{
	margin-left: 5px;
	color: #05386B !important;
	font-weight: bold;
	border: 0;
	border-color: #05386B !important;
	border-radius: 5;
	background-color: #ffffff00 !important;
}

    