// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#pill {

    background-color: #F167B0;

}

#title {

    color: #F167B0;

}

#remove:hover {

    color: #F167B0;

}