<div class = "container" >
    <div id = "na_row" class = "row"> 
        
            <a id="notice" class="notice"><%= notice %></a>
            <a id="alert" class="alert" ><%= alert %></a>
       
    </div>
</div>



